$pirou-otf-font-path: "src/app/fonts/Pirou-Regular.otf";
$font-family-brand: 'pirou';


$dreamwood-ttf-font-path: "src/app/fonts/dreamwood-font/DreamwoodDemoRegular-Zj3q.ttf";
$font-family-brand: 'dreamwood';