.foot {
    height: 80px;
   // font-family: pirou;
    font-size: 1rem;
    padding: 20px;
    font-family: 'Merienda One';
    color:rgb(72, 78, 207);
    
  }
 .row{
     margin-top: 10px;
 }
 button{
    font-family: 'Merienda One';
    color:rgb(72, 78, 207);
 }




footer .footer-menu li{
	display: inline-block;
}	

.foot a i{
    color:rgb(72, 78, 207);
    margin: 0px 10px;
    font-size: 1.3rem;
	text-decoration: none;
}

footer .fa{
    color:#FFF;
    font-size:30px;
}