.rsvp {
  // height: 90vh;
}

.rsvp-title {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10px;
  font-family: pirou;
  font-weight: bold;
  color:rgb(72, 78, 207);
  -webkit-text-fill-color: rgb(72, 78, 207);

}

@media (min-width: 700px) {
  .rsvp-title {

    font-size: 2.5rem;

    position: flex;
    align-content: center
  }
}

.rsvp-head {
  margin: 10px;
  font-family: cassandra;
  font-size: 20px;
  font-weight: bold;
}

.wwrsvp {
  font-family: pirou;
  font-weight: bold;
  color: #595959;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10px;


  -webkit-text-fill-color: rgb(72, 78, 207);


}

@media (min-width: 700px) {
  .wwrsvp {

    font-size: 2.5rem;

    position: flex;
    align-content: center
  }
}


.inviteeAddress {
  font-family: dreamwood;
  font-weight: bold;
  color: #e425da;
  font-size: 1.3rem;
}

@media (min-width: 700px) {
  .inviteeAddress {
    font-size: 1.5rem;
  }
}

.example-margin {
  margin: 0 10px;
}

.example-textarea {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-color: #719ECE;
  border-width: 2px;
  outline-color: blue;
}


input[type=text],
textarea {
  border-style: inset;
  border-width: 2px;
  border-radius: 5px;
  background-color: white;
}

.rsvpForm {
  width: 100%
}







label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



.formItems {
  border-radius: 5px;
  // background-color: #ffffff;
  background-color: rgba(72, 79, 207, 0.151);
  padding: 30px;


  min-width: 150px;
  max-width: 600px;
  width: 100%;

}


.col-75 {
  width: 100%;
  margin-top: 6px;
}

textarea {
  height: 150px
}

mat-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  background-color: rgb(72, 78, 207);
  color: #fcfafa;
  font-size: 20px;
}


.centerA {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formthings {

  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


#required {
  color: rgb(72, 78, 207);
  font-size: 1rem;
  font-weight: bold;
}


.nothingFound {
  display: flex;
  justify-content: center;
  align-items: center;
  //width:50%;
  color: #e425da;
  font-size: 1rem;
  font-family: dreamwood;
  //padding:20%

}

.nothingFound>button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%
}

::ng-deep.rsvp-snackbar {
  background-color: rgb(255, 255, 255);
  color: lightgoldenrodyellow;
  max-width: 90% !important;

  margin-left: auto !important; // center align from left
  margin-right: auto !important; // center align from right
  margin-bottom: 1rem !important;
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
      background-color: white !important;
    }
  
    .mat-form-field-appearance-outline .mat-form-field-outline-gap {
      background-color: white !important;
    }
  
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      background-color: white !important;
    }
  
    mat-form-field mat-label {
      background-color: rgba(255, 255, 255, 0.9);
    }
  
    .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
      opacity: 1 !important;
    }
  
  
    .mat-radio-button .mat-accent .mat-radio-checked .mat-radio-button .mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: #e425da;
    }

     .mat-radio-outer-circle{
        border-color: #e425da;
      }

      .mat-radio-inner-circle{
        border-color: #e425da;
      }
  
    .mat-radio-button.mat-accent .mat-radio-inner-circle {
      color: #e425da;
      background-color: #e425da;
    }
  
    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color: #e425da;
      color: #e425da;
    }
  }
  
  mat-form-field {
    width: 100%;
  }