
.initial-page{
    height: 90vh;

    background-image: url("src/assets/images/heart.svg");
    background-position:50%,0% ;
    background-repeat: no-repeat;
    background-size: 120vh auto;


}



