.top-container{
background-image: url("src/assets/images/kenteheader.svg");
 background-repeat: repeat;
 background-size:  20% auto,
}

.title-center {
    font-family: pirou;
    color:#484182;
    font-size: 2.4rem;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    padding-top: 80px;
    -webkit-text-fill-color:rgb(72, 78, 207); 
 
    text-shadow:
    3px 3px 0 rgb(255, 251, 6),
  -1px -1px 0 rgb(236, 19, 19),  
   1px -1px 0 rgb(236, 19, 19),
   -1px 1px 0 rgb(43, 252, 1),
    1px 1px 0 rgb(236, 19, 19);
  
  }
  
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  
  
  }
  
  @media only screen and(min-width: 700px){
    .title-center{
      flex: 1;
      font-size: 5rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 80px;
  
    }
  }
  
  
  @media only screen and (min-width: 500px)and (max-width:699px){
    .title-center{
      flex: 1;
      font-size: 3.5rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 80px;
  
    }
  }

  .navbar{
    background-color: white;
    z-index: 9999;
    position: sticky;
    top: 0px;
    bottom: 0;
  }

  .icon-bar {
    width: 22px;
    height: 2px;
    background: rgb(72, 78, 207);
    margin: 2px;
    position: relative;
  }
//removes border on toggle button
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  }

  .navbar-nav>li>a {

    padding-bottom: 10px !important;
  
    height: 50px;
    color: rgb(68, 68, 88);
    font-family: dreamwood;
    font-size: 20px;
  }
  
  
  
  .navbar-nav>li>a:hover {
   
    border: 1px dotted rgb(95, 93, 95);
    border-radius: 5%;
  }
  
  .navbar-nav>li>a:focus {
   
    outline-color: 1px dotted rgb(95, 93, 95);
    outline-width: 5px;
    outline-radius: 5%;
  
  }

  .navbar-light {
    background-color: rgba(255, 255, 255, 0.116);
    border-bottom: 1px dotted rgb(131, 121, 121);
    background-color:rgb(255, 255, 255);
 
  }

  #rsvp1{
    color:rgb(72, 78, 207);
   }
   
   #registry1{
     color: rgb(72, 78, 207)
   
   }
   
   #whenwhere1{
     color:rgb(72, 78, 207)
   }
   
   #ourstory1{
     color:rgb(72, 78, 207)
   }