<div class="our-story">
  <div class="our-story-title">
    <div class="ourstory"> ✾── Our Story ──✾</div>
  </div>
  <div class="our-story-content" fxFlexFill>
    <p>
      The Shiba Inu dog breed was originally bred to flush birds and small game, and was occasionally used to hunt wild
      boar. He is one of Japan’s six native breeds: Akita (large), Kishu, Hokkaido, Kai, Shikoku (medium), and Shiba
      (small). He is known for his spirited personality, small upright ears, and cat-like agility. Today he serves
      primarily as a companion dog in Japan and the United States.
      <br>


    </p>
    <p>
      The Shiba Inu dog breed was originally bred to flush birds and small game, and was occasionally used to hunt wild
      boar. He is one of Japan’s six native breeds: Akita (large), Kishu, Hokkaido, Kai, Shikoku (medium), and Shiba
      (small). He is known for his spirited personality, small upright ears, and cat-like agility. Today he serves
      primarily as a companion dog in Japan and the United States.
      <br>
    </p>
    <p>
      The Shiba Inu dog breed was originally bred to flush birds and small game, and was occasionally used to hunt wild
      boar. He is one of Japan’s six native breeds: Akita (large), Kishu, Hokkaido, Kai, Shikoku (medium), and Shiba
      (small). He is known for his spirited personality, small upright ears, and cat-like agility. Today he serves
      primarily as a companion dog in Japan and the United States. </p>
    <p>
      “We are delighted and look forward to the new and exciting chapter!”
    </p>
  </div>
</div>
